appdirs==1.4.4
black==21.5b1
bullet==2.2.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
docker==4.4.4
flake8==3.9.2
idna==2.10
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.8.1
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.9.0
regex==2021.4.4
requests==2.25.1
rich==10.2.2
six==1.15.0
toml==0.10.2
urllib3==1.26.3
websocket-client==0.58.0
