appnope==0.1.1
attrs==20.3.0
backcall==0.2.0
click==7.1.2
decorator==4.4.2
fastapi==0.62.0
h11==0.11.0
importlib-metadata==3.1.0
iniconfig==1.1.1
ipdb==0.13.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
packaging==20.7
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.9.0
pydantic==1.7.3
Pygments==2.7.2
pyparsing==2.4.7
pytest==6.1.2
python-multipart==0.0.5
six==1.15.0
starlette==0.13.6
toml==0.10.2
traitlets==5.0.5
typing-extensions==3.7.4.3
uvicorn==0.12.3
wcwidth==0.2.5
zipp==3.4.0
